input{
    border-radius: 10px;
    width: 45%;
}
#message{
    width: 45%;
    resize: none;
    border-radius: 10px;
}
label{
    font-size: 1.25em;
}
#submit{
    background: #53d5fd;
    color: rgb(75,75,75);
    font-size: 1.25em;
    letter-spacing: 2.5px;
}
@media only screen and (max-width: 1500px) {
    input{
        border-radius: 10px;
        width: 100%;
    }
    #message {
        width: 100%;
    }
    #map{
        width: 100%;
    }
}