*{
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 1em;
    color: rgb(50,50,50);
}
body{
    background: white;
    padding: 20px;
}
section{
    margin: 15px;
}
ul{
    list-style: circle inside;
    margin: 5px;
}

h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: #53d5fd;
}
ul li{
    margin: 5px;
}
ul li ul{
    list-style: disc inside;
}

article {
    width: 50%;
    float: left;
}
section{
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    article{
        width: 100%;
        float: left;
    }
}